<div class="container-fluid">
  <div class="page-header">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <i class="ik ik-dollar-sign bg-blue"></i>
          <div class="d-inline">
            <h5>Debts</h5>
            <span>List of debts</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#"><i class="ik ik-home"></i></a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Debts</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- start message area-->
    <div class="col-md-12"></div>
    <!-- end message area-->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header row">
          <div class="col col-sm-2">
            <button
              type="button"
              class="btn btn-sm btn-primary btn-rounded"
              data-toggle="modal"
              data-target="#exampleModalCenter"
            >
              Create Debt
            </button>
          </div>
          <div class="col col-sm-1">
            <div class="card-options d-inline-block"></div>
          </div>
          <div class="col col-sm-6"></div>
          <div class="col col-sm-3"></div>
        </div>
        <div class="card-body">
          <div class="dt-responsive">
            <table id="data_table" class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th class="text-center">Amount</th>
                  <th class="text-center">Paid</th>
                  <th class="text-center">Debt</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let key of debts">
                  <td>{{ key.id }}</td>
                  <td>05/07/2023</td>
                  <td>{{ key.fullname }}</td>
                  <td>{{ key.type }}</td>
                  <td class="text-center">{{ key.amount }}</td>
                  <td class="text-center">{{ key.repayment }}</td>
                  <td class="text-center">{{ key.amount - key.repayment }}</td>
                  <td class="text-center">
                    <ng-container
                      *ngIf="key.amount - key.repayment !== 0; else paid"
                    >
                      <label class="badge badge-danger">Unpaid</label>
                    </ng-container>
                    <ng-template #paid>
                      <label class="badge badge-success">Paid</label>
                    </ng-template>
                  </td>

                  <td class="text-center">
                    <div class="dropdown d-inline-block">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="moreDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="ik ik-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a
                          class="dropdown-item"
                          href="#accountEdit"
                          data-toggle="modal"
                          [attr.data-target]="'#setedit' + key.id"
                        >
                          <i class="ik ik-edit"></i> Edit
                        </a>

                        <a
                          class="dropdown-item"
                          href="#accountEdit"
                          data-toggle="modal"
                          [attr.data-target]="'#repayment' + key.id"
                        >
                          <i class="ik ik-edit"></i> Re-Payment
                        </a>
                        <a
                          class="dropdown-item"
                          href="#accountEdit"
                          data-toggle="modal"
                          data-target="#delete2"
                        >
                          <i class="ik ik-trash"></i> Delete
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ======================================== Add Debt ==================================================  -->

  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterLabel">Create Debt</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #debtForm="ngForm" (ngSubmit)="onSubmit(debtForm)">
          <div class="modal-body">
            <div class="form-group">
              <label for="title"
                >Full Name<span class="text-red">*</span></label
              >
              <input
                id="title"
                type="text"
                class="form-control"
                ngModel
                name="fullname"
                placeholder="Full Name"
                required=""
              />
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <label for="title">Amount<span class="text-red">*</span></label>
              <input
                id="title"
                type="number"
                class="form-control"
                ngModel
                name="amount"
                placeholder="Amount"
                required=""
              />
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <label for="">Select Debt Type </label>
              <select
                class="form-control select2"
                ngModel
                name="type"
                required=""
              >
                <option value="">Select Debt Type</option>
                <option value="cash">Cash</option>
                <option value="float">Float</option>
                <option value="control number">Control Number</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- ============================= Re-Payment ============================================  -->

  <div
    *ngFor="let key of debts"
    class="modal fade"
    [id]="'repayment' + key.id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterLabel">Repayment</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form
          #debtRepaymentForm="ngForm"
          (ngSubmit)="onRepayment(key.id, debtRepaymentForm)"
        >
          <div class="modal-body">
            <div class="form-group">
              <label for="title"
                >Full Name<span class="text-red">*</span></label
              >
              <input
                id="title"
                type="text"
                class="form-control"
                [(ngModel)]="key.fullname"
                name="fullname"
                placeholder="Full Name"
                required=""
              />
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <label for="title">Amount<span class="text-red">*</span></label>
              <input
                id="title"
                type="number"
                class="form-control"
                ngModel
                name="repayment"
                value=""
                placeholder="Amount"
                required=""
              />
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Repayment</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- ======================================= Edit Debt ============================================= -->

  <div
    *ngFor="let key of debts"
    class="modal fade"
    [id]="'setedit' + key.id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterLabel">Edit Debt</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form
          #debtUpdateForm="ngForm"
          (ngSubmit)="onUpdate(key.id, debtUpdateForm)"
        >
          <div class="modal-body">
            <input type="hidden" name="id" value="{{ key.id }}" ngModel />

            <div class="form-group">
              <label for="title"
                >Full Name<span class="text-red">*</span></label
              >
              <input
                id="title"
                type="text"
                class="form-control"
                [(ngModel)]="key.fullname"
                name="fullname"
                placeholder="Full Name"
                required
              />
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <label for="amount">Amount<span class="text-red">*</span></label>
              <input
                id="amount"
                type="number"
                class="form-control"
                [(ngModel)]="key.amount"
                name="amount"
                placeholder="Amount"
                required
              />
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <label for="type">Select Debt Type</label>
              <select
                class="form-control select2"
                [value]="key.type"
                [(ngModel)]="key.type"
                name="type"
                required
              >
                <option value="">Select Debt Type</option>
                <option [selected]="key.type === 'cash'" value="cash">
                  Cash
                </option>
                <option [selected]="key.type === 'float'" value="float">
                  Float
                </option>
                <option
                  [selected]="key.type === 'control number'"
                  value="control number"
                >
                  Control Number
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
