<div class="container-fluid">
  <div class="page-header">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <i class="ik ik-dollar-sign bg-blue"></i>
          <div class="d-inline">
            <h5>Commission</h5>
            <span>Create commission</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#"><i class="ik ik-home"></i></a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Commission</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- start message area-->
    <div class="col-md-12"></div>
    <!-- end message area-->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3>Create Commission</h3>
          <div class="card-header-right"></div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <form #commissionForm="ngForm" (ngSubmit)="onSubmit(commissionForm)">
                <input
                  type="hidden"
                  name="_token"
                  value="yHerFE96940twBf7e4JScgRUVgXy1VLFEJiVbzRd"
                />
                <div class="row">
                  <div class="col-md-6 mr-">
                    <div class="form-group">
                      <label for="title"
                        >M-Pesa<span class="text-red">*</span></label
                      >
                      <input
                        id="title"
                        type="number"
                        class="form-control"
                        ngModel
                        name="mpesa"
                        placeholder="M-Pesa"
                        required=""
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="title"
                        >AirtelMoney<span class="text-red">*</span></label
                      >
                      <input
                        id="title"
                        type="number"
                        class="form-control"
                        ngModel
                        name="airtelmoney"
                        placeholder="AirtelMoney"
                        required=""
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mr-">
                    <div class="form-group">
                      <label for="title"
                        >Tigopesa<span class="text-red">*</span></label
                      >
                      <input
                        id="title"
                        type="number"
                        class="form-control"
                        ngModel
                        name="tigopesa"
                        placeholder="Tigopesa"
                        required=""
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="title"
                        >Halopesa<span class="text-red">*</span></label
                      >
                      <input
                        id="title"
                        type="number"
                        class="form-control"
                        ngModel
                        name="halopesa"
                        placeholder="Halopesa"
                        required=""
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mr-">
                    <div class="form-group">
                      <label for="title"
                        >NMB<span class="text-red">*</span></label
                      >
                      <input
                        id="title"
                        type="number"
                        class="form-control"
                        ngModel
                        name="nmb"
                        placeholder="NMB"
                        required=""
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="title"
                        >CRDB<span class="text-red">*</span></label
                      >
                      <input
                        id="title"
                        type="number"
                        class="form-control"
                        ngModel
                        name="crdb"
                        placeholder="CRDB"
                        required=""
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mr-">
                    <div class="form-group">
                      <label for="title"
                        >NBC<span class="text-red">*</span></label
                      >
                      <input
                        id="title"
                        type="number"
                        class="form-control"
                        ngModel
                        name="nbc"
                        placeholder="NBC"
                        required=""
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>

                  <div class="col-md-6"></div>
                </div>

                <div class="row">
                  <div class="col-md-6 mr-"></div>

                  <div class="col-md-6">
                    <div class="form-group text-right">
                      <button type="submit" class="btn btn-primary">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
