<div class="app-sidebar colored">
    <div class="sidebar-header text-center" style="background-color: #033162;">
      <a class="header-brand" href="#">
        <div class="logo-img">
          <h6 style="font-size: 14px;">ALPHA MONEY SERVICES</h6>
        </div>
      </a>
      <div class="sidebar-action"><i class="ik ik-arrow-left-circle"></i></div>
      <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
    </div>
    <div class="sidebar-content" style="background-color: #1A538E;">
      <div class="nav-container">
        <nav id="main-menu-navigation" class="navigation-main">
          <div class="nav-item ">
            <a routerLink="dashboard"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
          </div>
  
          <div class=" nav-item">
            <a routerLink="debts/view"><i class="ik ik-dollar-sign"></i><span>Debts</span></a>
          </div>
          <div class=" nav-item">
            <a routerLink="sales/view"><i class="ik ik-shopping-cart"></i><span>Sales</span></a>
          </div>
          <div class=" nav-item">
            <a routerLink="commissions/view"><i
                class="ik ik-dollar-sign"></i><span>Commissions</span></a>
          </div>
          <!-- <div class=" nav-item">
            <a routerLink="roles/view"><i class="ik ik-unlock"></i><span>Roles</span></a>
          </div> -->
          <div class=" nav-item">
            <a routerLink="expenses/view"><i class="ik ik-dollar-sign"></i><span>Expenses</span></a>
          </div>
          <div class=" nav-item">
            <a routerLink="users/view"><i class="ik ik-dollar-sign"></i><span>Users</span></a>
          </div>
          <!-- <div class=" nav-item">
            <a routerLink="users/view"><i class="ik ik-users"></i><span>Users</span></a>
          </div> -->
          <!-- <div class="  nav-item  has-sub">
            <a routerLink="#"><i class="ik ik-clipboard"></i><span>Reports</span> </a>
            <div class="submenu-content">
              <a routerLink="reports/today-reports" target="_blank" class="menu-item ">Today
                Reports</a>
              <a routerLink="reports/sales" class="menu-item ">Sales Reports</a>
              <a routerLink="reports/debts" class="menu-item ">Debts Reports</a>
              <a routerLink="reports/expenses" class="menu-item ">Expenses Reports</a>
            </div>
          </div> -->
        </nav>
      </div>
    </div>
  </div>