<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <!-- page statustic chart start -->
      <div class="col-xl-3 col-md-6">
        <div class="card card-red text-white">
          <div class="card-block">
            <div class="row align-items-center">
              <div class="col-8">
                <h4 class="mb-0">0</h4>
                <p class="mb-0">
                  <a
                    href="http://127.0.0.1:8001/commissions/view"
                    style="color: #ffffff"
                    >Commissions</a
                  >
                </p>
              </div>
              <div class="col-4 text-right">
                <i class="fas fa-cube f-30"></i>
              </div>
            </div>
            <div id="Widget-line-chart1" class="chart-line chart-shadow"></div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-blue text-white">
          <div class="card-block">
            <div class="row align-items-center">
              <div class="col-8">
                <h4 class="mb-0">{{ totalDebt }}</h4>
                <p class="mb-0">
                  <a
                    href="http://127.0.0.1:8001/debts/view"
                    style="color: #ffffff"
                    >Debts</a
                  >
                </p>
              </div>
              <div class="col-4 text-right">
                <i class="ik ik-shopping-cart f-30"></i>
              </div>
            </div>
            <div id="Widget-line-chart2" class="chart-line chart-shadow"></div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-green text-white">
          <div class="card-block">
            <div class="row align-items-center">
              <div class="col-8">
                <h4 class="mb-0">1</h4>
                <p class="mb-0">
                  <a
                    href="http://127.0.0.1:8001/users/view"
                    style="color: #ffffff"
                    >Users</a
                  >
                </p>
              </div>
              <div class="col-4 text-right">
                <i class="ik ik-user f-30"></i>
              </div>
            </div>
            <div id="Widget-line-chart3" class="chart-line chart-shadow"></div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-yellow text-white">
          <div class="card-block">
            <div class="row align-items-center">
              <div class="col-8">
                <h4 class="mb-0">0</h4>
                <p class="mb-0">
                  <a
                    href="http://127.0.0.1:8001/sales/view"
                    style="color: #ffffff"
                    >Today Sales</a
                  >
                </p>
              </div>
              <div class="col-4 text-right">
                <i class="ik f-30">৳</i>
              </div>
            </div>
            <div id="Widget-line-chart4" class="chart-line chart-shadow"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-md-12">
        <div class="card table-card">
          <div class="card-header">
            <h3>Recent Debts</h3>
            <div class="card-header-right">
              <ul class="list-unstyled card-option">
                <li><i class="ik ik-chevron-left action-toggle"></i></li>
                <li><i class="ik ik-minus minimize-card"></i></li>
                <li><i class="ik ik-x close-card"></i></li>
              </ul>
            </div>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Paid</th>
                    <th class="text-center">Debt</th>
                    <th class="text-center">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let key of debts">
                    <td>{{ key.id }}</td>
                    <td>05/07/2023</td>
                    <td>{{ key.fullname }}</td>
                    <td>{{ key.type }}</td>
                    <td class="text-center">{{ key.amount }}</td>
                    <td class="text-center">{{ key.repayment }}</td>
                    <td class="text-center">
                      {{ key.amount - key.repayment }}
                    </td>
                    <td class="text-center">
                      <ng-container
                        *ngIf="key.amount - key.repayment !== 0; else paid"
                      >
                        <label class="badge badge-danger">Unpaid</label>
                      </ng-container>
                      <ng-template #paid>
                        <label class="badge badge-success">Paid</label>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-md-6">
        <div class="card table-card">
          <div class="card-header">
            <h3>Recent Sales</h3>
            <div class="card-header-right">
              <ul class="list-unstyled card-option">
                <li><i class="ik ik-chevron-left action-toggle"></i></li>
                <li><i class="ik ik-minus minimize-card"></i></li>
                <li><i class="ik ik-x close-card"></i></li>
              </ul>
            </div>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Cash</th>
                    <th>M-Pesa</th>
                    <th>Tigopesa</th>
                    <th>AirtelMoney</th>
                    <th>Halopesa</th>
                    <th>NMB</th>
                    <th>CRDB</th>
                    <th>NBC</th>
                    <th>Debts</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>05/07/2023</td>
                    <td>45,000.00</td>
                    <td>567,890.00</td>
                    <td>3,234,353.00</td>
                    <td>877,777.00</td>
                    <td>980,000.00</td>
                    <td>34,555,555.00</td>
                    <td>5,678,899.00</td>
                    <td>300,000.00</td>
                    <td>98,000.00</td>
                    <td>46,337,474.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-md-6">
        <div class="card table-card">
          <div class="card-header">
            <h3>Recent Cammissionss</h3>
            <div class="card-header-right">
              <ul class="list-unstyled card-option">
                <li><i class="ik ik-chevron-left action-toggle"></i></li>
                <li><i class="ik ik-minus minimize-card"></i></li>
                <li><i class="ik ik-x close-card"></i></li>
              </ul>
            </div>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>M-Pesa</th>
                    <th>AirtelMoney</th>
                    <th>Tigopesa</th>
                    <th>Halopesa</th>
                    <th>NMB</th>
                    <th>CRDB</th>
                    <th>NBC</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let key of commissions">
                    <td>{{ key.id }}</td>
                    <td>05/07/2023</td>
                    <td>{{ key.mpesa }}</td>
                    <td>{{ key.airtelmoney }}</td>
                    <td>{{ key.tigopesa }}</td>
                    <td>{{ key.halopesa }}</td>
                    <td>{{ key.nmb }}</td>
                    <td>{{ key.crdb }}</td>
                    <td>{{ key.nbc }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
